*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    font-family: 'Epilogue', sans-serif;
    font-size: 1.8rem;
    font-weight: 500;
    letter-spacing: 1rem;
    
    min-height: 100vh;
    overflow-x: hidden;
}

img{
    display: block;
    width: 100%;
}

ul{
    list-style-type: none;
}