:root{
    --spacing-01: .2rem;
    --spacing-02: .4rem;
    --spacing-03: .8rem;
    --spacing-04: 1.2rem;
    --spacing-05: 1.6rem;
    --spacing-06: 2.4rem;
    --spacing-07: 3.2rem;
    --spacing-08: 4rem;
    --spacing-09: 4.8rem;
    --spacing-10: 6.4rem;
    --spacing-11: 8rem;
    --sapcing-12: 9.6rem;
    --spacing-13: 16rem;
}